node_modules
public
.tmp
.sass-cache
.idea
*.pyc
*.log
client/bower_components
src/bower_components
dist
server/config/local.env.js
npm-debug.log
coverage

# ignore slq db
dev.sqlite
bower_components
