# elastic ingest
elasticsearch==2.3.0
PyYAML==3.10
spacy==0.101.0

## scraper
BeautifulSoup
APScheduler
boto3
cssselect
futures
goose-extractor
jieba
jusText
lxml
nltk
Pattern
Pillow
pymongo
pytz
requests
six
tzlocal
